@use "../custom" as *;

.book-card {
  position: relative;
}

.remove-button {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  padding: 0 0.3rem;
}

.edit-button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  padding: 0 0.3rem;
}
